<!doctype html>
<html>
 <head>
  <title>Gallery</title>
  <link rel="stylesheet" href="main.css" type="text/css" media="all" />
  <script src="main.js" type="text/javascript"></script>
 </head>
 <body>
<div class="example" id="gall">
<img src="/websitePersonal/images/photography.jpg"><span>Picture 1 title<br>and description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 2 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 3 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 4 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 5 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 6 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 7 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 8 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 9 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 10 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 11 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 12 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 13 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 14 description.</span> 
<img src="/websitePersonal/images/photography.jpg"><span>Picture 15 description.</span> 
</div>

 </body> 
</html>
